<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:sqlserver://DESKTOP-V3E5ICQ\MSSQLSERVERDEV;encrypt=true;trustServerCertificate=true;databaseName=Testjava</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcUserName</param-name>
		<param-value>borisv</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>borisv</param-value>
	</context-param>
</web-app>